[flake8]
max-line-length = 120
max-complexity = 12
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    .pytest_cache,
    build,
    dist,
    *.egg-info
extend-ignore = 
    E203,  
    W503, 
    E501,  
per-file-ignores =
    tests/*:S101,S106,S108 
select = 
    E,    
    W,    
    F,   
    C,    
    B,    
    S,     
